/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0px;
    padding: 0px;
}

.construction {
    height: 100%;
    background-color: white;
    background: url('assets/page_construction.png') bottom right no-repeat fixed;
}

snack-bar-container.success-snackbar {
    /*background-color: white;*/
}

snack-bar-container.success-snackbar > .mat-simple-snackbar {
    color:#2DD52D !important;
}

snack-bar-container.error-snackbar {
    /*background-color: white;*/
}

snack-bar-container.error-snackbar > .mat-simple-snackbar {
    color:#D72D2F !important;
}