./controllers/
./data/*
./features/
./libs/
./models/
./services/
./test/
./tests/

node_modules
/.vscode
/log
logs

/test-*
/src/test.ts
/temp
/output
/.nyc_output
/config/local-*.*
!/config/local-tests.yaml
!/config/local-template.yaml
/config/local.yaml

*.js.map
*.js
.scannerwork
/.vs/slnx.sqlite
fsmDiagram.dot
*sharedState.json