node_modules
.docker
.local
.vscode
.git
*.map
/test
/temp
/dist
.dockerignore
.gitignore
.npmrc
.prettierignore
Jenkinsfile
Jenkinsfile.dockerFarm
Jenkinsfile.kubernetes
package.json
package-lock.json
yarn.lock
readme.md
README.md
/node_modules
/test
/output
/temp
/test-*
/log

/open-api/swagger-editor
/open-api/swagger-ui

license
*.js
*.yaml
*.hbs
*.txt
/html

src/libs/
src/models/
src/services/
src/test/
src/controllers/