<div class="grid-section" [hidden]="detail!=null">
  <div class="grid-tilte">
    Véhicules
  </div>
  <div class="grid  mat-elevation-z8">
    <div class="grid-controls">
      <span>Filtres</span>
      <md-input-container>
          <input mdInput #filter placeholder="Immatriculation" [(ngModel)]="licenceFilter" (change)="FilterData()">
      </md-input-container>

      <md-input-container>
          <input mdInput #filter placeholder="Opérateur" [(ngModel)]="operatorFilter" (change)="FilterData()">
      </md-input-container>
      <button md-button type="button" mdTooltip="Exporter en ficher CSV" (click)="FilterData(); Export()"><md-icon>file_download</md-icon></button>
    </div>
    <md-table #table [dataSource]="dataSource" mdSort (mdSortChange)="SortData($event)">
      <ng-container cdkColumnDef="licence_plate">
        <md-header-cell *cdkHeaderCellDef md-sort-header="vehicle.licence_plate"> Immatriculation </md-header-cell>
        <md-cell *cdkCellDef="let row"><button type="button" class="row-button" (click)="detail=row; ">{{row.licence_plate}}</button> </md-cell>
      </ng-container>

      <ng-container cdkColumnDef="added_by_name">
        <md-header-cell *cdkHeaderCellDef md-sort-header='"user".email'> Opérateur </md-header-cell>
        <md-cell *cdkCellDef="let row"> {{row.added_by_name}} </md-cell>
      </ng-container>

      <ng-container cdkColumnDef="location">
        <md-header-cell *cdkHeaderCellDef></md-header-cell>
        <md-cell *cdkCellDef="let row" class="flex">
          <button class="btn-location go-to-btn" (click)="goToMapPage(row)">Localiser</button>
        </md-cell>
      </ng-container>

      <md-header-row *cdkHeaderRowDef="displayedColumns"></md-header-row>
      <md-row *cdkRowDef="let row; columns: displayedColumns;"></md-row>
    </md-table>
  
    <md-paginator #paginator
                  [length]="count"
                  [pageSize]="10"
                  [pageSizeOptions]="[10, 50, 100]"
                  (page)="RefreshTable()">
    </md-paginator>

  </div>
</div>

<div class="details_section" *ngIf="detail!=null">
  <md-card class="vehicle-card mat-elevation-z8">
    <md-card-actions>
      <button md-button type="button" (click)="detail = null;" mdTooltip="Retour à l'écran précédent"><md-icon>keyboard_backspace</md-icon></button>
      <button md-button type="button" mdTooltip="Imprimer les détails" (click)="print()"><md-icon>print</md-icon></button>
    </md-card-actions>
    <md-card-content id="content">
      <span style='font-size:28px; font-weight:700;'>Détails du véhicule</span><br>
      <table class="details-table">
        <tr>
          <td>
            <span style='font-weight:700;'>Plaque d'immatriculation </span>
          </td>
          <td>
            {{ detail.licence_plate }}
          </td>
        </tr>
        <tr>
          <td>
            <span style='font-weight:700;'>Type </span>
          </td>
          <td>
            <span *ngIf="detail.type_"> {{ detail.type_ }}</span><span *ngIf="!detail.type_">n.d.</span>
          </td>
        </tr>
        <tr>
          <td>
            <span style='font-weight:700;'>Couleur </span>
          </td>
          <td>
            <span *ngIf="detail.color"> {{ detail.color }}</span><span *ngIf="!detail.color">n.d.</span>
          </td>
        </tr>
        <tr>
          <td>
            <span style='font-weight:700;'>Fabriquant </span>
          </td>
          <td>
            <span *ngIf="detail.constructorname">{{detail.constructorname}}</span><span *ngIf="!detail.constructorname">n.d.</span>
          </td>
        </tr>
        <tr>
          <td>
            <span style='font-weight:700;'>Model </span>
          </td>
          <td>
            <span *ngIf="detail.modelname"> {{detail.modelname}} </span><span *ngIf="!detail.modelname">n.d.</span>
          </td>
        </tr>
        <tr>
          <td>
            <span style='font-weight:700;'>Année </span>
          </td>
          <td>
            <span *ngIf="detail.model_year"> {{ detail.model_year }}</span><span *ngIf="!detail.model_year">n.d.</span>
          </td>
        </tr>
        <tr>
          <td>
            <span style='font-weight:700;'>Moteur </span>
          </td>
          <td>
            <span *ngIf="detail.engine"> {{ detail.engine }}</span><span *ngIf="!detail.engine">n.d.</span>
          </td>
        </tr>
        <tr>
          <td>
            <span style='font-weight:700;'>Nombre de places </span>
          </td>
          <td>
            <span *ngIf="detail.nb_seats"> {{ detail.nb_seats }}</span><span *ngIf="!detail.nb_seats">n.d.</span>
          </td>
        </tr>
        <tr>
          <td>
            <span style='font-weight:700;'>No. du taximètre </span>
          </td>
          <td>
            <span *ngIf="detail.taximetre"> {{ detail.taximetre }}</span><span *ngIf="!detail.taximetre">n.d.</span>
          </td>
        </tr>
        <tr>
          <td>
            <span style='font-weight:700;'>Opérateur </span>
          </td>
          <td>
            <span *ngIf="detail.added_by_name"> {{ detail.added_by_name }}</span><span *ngIf="!detail.added_by_name">n.d.</span>
          </td>
        </tr>
        <tr>
          <td>
            <span style='font-weight:700;'>Dern. mise à jour </span>
          </td>
          <td>
            <span *ngIf="detail.last_update_at || detail.added_at">
              {{ detail.last_update_at || detail.added_at}}
            </span>
            <span *ngIf="!detail.last_update_at && !detail.added_at">n.d.</span>
          </td>
        </tr>
      </table>
      <hr>
      <span style='font-size:24px; font-weight:700;'>Options</span><br>
      <table class="options-table">
        <tr>
          <td style="vertical-align:top">
            <div *ngIf="detail.special_need_vehicle">Véhicule adapté</div>
            <div *ngIf="detail.pet_accepted">Animaux acceptés</div>
            <div *ngIf="detail.air_con">Air conditionné</div>
            <div *ngIf="detail.relais">Relais</div>
            <div *ngIf="detail.doublage">Doublage</div>
            <div *ngIf="detail.baby_seat">Siège enfant</div>
            <div *ngIf="detail.bike_accepted">Vélo accepté</div>
            <div *ngIf="detail.dvd_player">Lecteur DVD</div>
            <div *ngIf="detail.every_destination">Toutes destinations</div>
            <div *ngIf="detail.fresh_drink">Boisson froide</div>
          </td>
          <td style="vertical-align:top">
            <div *ngIf="detail.luxury">Luxe</div>
            <div *ngIf="detail.amex_accepted">Amex accepté</div>
            <div *ngIf="detail.bank_check_accepted">Chèques acceptés</div>
            <div *ngIf="detail.credit_card_accepted">Carte crédit accepté</div>
            <div *ngIf="detail.electronic_toll">Facture électronique</div>
            <div *ngIf="detail.nfc_cc_accepted">Paiement NFC</div>
            <div *ngIf="detail.tablet">Tablette</div>
            <div *ngIf="detail.wifi">Wi-Fi</div>
            <div *ngIf="detail.gps">GPS</div>
          </td>
        </tr>
      </table>
    </md-card-content>
    <md-card-actions>
      <button md-button type="button" (click)="detail = null;" mdTooltip="Retour à l'écran précédent"><md-icon>keyboard_backspace</md-icon></button>
      <button md-button type="button" mdTooltip="Imprimer les détails" (click)="print()"><md-icon>print</md-icon></button>
    </md-card-actions>
  </md-card>
</div>
