#==========================================
# This config file lists all the default
# configurations. It is the very first file loaded
# to build configurations and is always loaded,
# wathever the NODE_ENV is. The other environment-specific
# config files will simply override the configurations
# they need.
#
# More info about this file and the order config files
# are loaded : https://github.com/lorenwest/node-config/wiki/Configuration-Files
#==========================================

#==========================================
# API configs
#==========================================
api:
  scheme: https
  host: development
  port: 8099
  domainPath: /taxi/taxi-registry

environment:
  isLocal: false

apikeys:
  admin: secret
  gestion: secret
  moteur: secret
  operateur: secret
  inspecteur: secret
  stats: secret

security:
  jwt: secret
  secret: secret
  adminUser: secret

#==========================================
# Logging configs
#==========================================
logging:
  # If the path starts with a ".", it is considered to be relative
  # to the root of the project.
  dir: ./log
  level: info

  # Should be let to false on all environments except
  # on local (local.yaml and local-test.yaml) for GrayLog
  # to work properly!
  humanReadableInConsole: false
  addStackTraceToErrorMessagesInDev: false
  logSource: false
  logToFile: false
  logRotateFilesNbr: 30
  logRotateThresholdMB: 100
  logRotateMaxTotalSizeMB: 1000

#==========================================
# Data Sources configs
#==========================================
dataSources:
  postgres:
    host: pg-dvl-vdm_txp.ile.montreal.qc.ca
    port: 5432
    database: vdm_txp
    user: secret
    password: secret
    maxClient: 30
    idleTimeoutMs: 3000
  mongo:
    host1: dvllgt01a.ile.montreal.qc.ca
    host2: dvllgt01b.ile.montreal.qc.ca
    host3: dvllgt01c.ile.montreal.qc.ca
    port: 27001
    defaultauthdb: vdm_txp
    username:
    password:
    options: replicaSet=rsgeotaxi
    poolSize: 100
  taxiEstimate:
    host: development
    apikey: secret
    postgres:
      host: dvllgt02-vip.ile.montreal.qc.ca
      port: 5432
      database: taxiestimate
      user: secret
      password: secret
taxiAreas:
  openDataUrl: https://donnees.montreal.ca/dataset/abeea64a-6dd8-4166-8b86-629b282b97a1/resource/c6f65256-061c-464c-8be2-a005d7307c98/download/postestaxi.geojson
caching:
  taxisMaxAgeInSec: 86400
  usersMaxAgeInSec: 86400
inquiries:
  promotionDelayInSec: 0
  fixedDailyPriceDowntownToAirport: 49.45 # Airport day fixed rate + compensation
  fixedNightlyPriceDowntownToAirport: 56.70 # Airport night fixed rate + compensation
  searchDistance:
    standard: 5000
    minivan: 7000
    specialNeed: 10000

#==========================================
# Routing Service OSRM
#==========================================
taxiRegistryOsrmApi:
  base: https://api.dev.interne.montreal.ca
  domainPath: /api/taxi/taxi-registry-osrm
  estimation:
    requestAndDispatchInSec: 120 # Arbitrary time to account for the taxi request and dispatch
    durationBias: 349 # Bias calculated against Polytechnic's data to even the distribution over/under
    durationDailyRateRatio: 0.58 # Ratio for the average daily duration rate calculated against Polytechnic's
    durationNightlyRateRatio: 0.68 # Ratio for the average nightly duration rate calculated against Polytechnic's
    distanceBias: 973 # Bias calculated against Polytechnic's data to even the distribution over/under
    distanceDailyRateRatio: 0.95 # Ratio for the average daily distance rate calculated against Polytechnic's
    distanceNightlyRateRatio: 1.03 # Ratio for the average nightly distance rate calculated against Polytechnic's
    dailyCompensationRate: 6.07 # Day fixed rate + compensations
    nightlyCompensationRate: 6.67 # Night fixed rate + compensations
