md-sidenav {
  width: 300px;
}

md-button {
  outline: none;
}

md-toolbar {
  height: 100%;
}

nav-item {
  height: 800px;
  background-color: blue;
  z-index: 999;
}

.app_container {
  position: fixed;
  background: #dcdcdc;
  color: black;
  height: 100%;
  width: 100%;
}

.topnav {
  width: 100%;
  height: 80px;
  background-color: black;
  text-align: left;
  vertical-align: middle;
}

.topnav_btn_menu {
  background-color: transparent;
  border: none;
  color: white;
  height: 80px;
  width: 80px;
  vertical-align: top;
  outline: none;
  cursor: pointer;
}

.topnav_btn_login {
  background-color: transparent;
  border: none;
  color: white;
  position: absolute;
  top: 0px;
  right: 0px;
  height: 80px;
  width: 100px;
  outline: none;
  cursor: pointer;
}

.topnav_btn_gtfs_feed {
  background-color: transparent;
  border: none;
  color: white;
  position: absolute;
  top: 0px;
  right: 100px;
  height: 80px;
  width: 100px;
  outline: none;
  cursor: pointer;
  margin-top: -12px;
  padding: 24px;
}

.topnav_logo {
  height: 80px;
  cursor: pointer;
}

.sidenav {
  background-color: #ffffff;
  color: black;
}

.sidenav_menu {
  height: 100%;
  width: 100%;
}

.sidenav_menu_title {
  height: 150px;
  width: 100%;
  color: white;
  margin-bottom: 8px;
  background-image: url("../../assets/TopSideNav.png");
  box-shadow: 0px 1px 8px black;
  -webkit-box-shadow: 0px 1px 8px black;
  -moz-box-shadow: 0px 1px 8px black;
  z-index: 999;
  overflow-x: hidden;
}

.sidenav_menu_title span {
  position: absolute;
  top: 98px;
  left: 21px;
  font-size: 1.1em;
  font-weight: 600;
  text-shadow: 1px 1px black;
  vertical-align: bottom;
}

.sidenav_menu_items {
  height: 100%;
}

.sidebar_user_icon {
  position: absolute;
  top: 45px;
  left: 15px;
  font-size: 3.5em;
  text-shadow: 1px 1px black;
}

.sidenav_user_actions {
  position: absolute;
  top: 120px;
  left: 16px;
  font-size: 1em;
  text-shadow: 1px 1px black;
}

.sidenav_user_actions button {
  background-color: transparent;
  border: none;
  height: auto;
  width: auto;
  color: white;
  font-size: 0.9em;
  font-weight: 500;
  text-shadow: 1px 1px black;
  outline: none;
  cursor: pointer;
}

.sidenav_close {
  background-color: transparent;
  border: none;
  color: white;
  position: absolute;
  top: 10px;
  right: 10px;
  outline: none;
}

.router_container {
  position: relative;
  height: 90%;
}

[hidden] {
  visibility: hidden;
  display: inline-block !important;
}