<div class="hail">
  <div class="hail_title">
    Héler un taxi
  </div>
  <section class="hail_body md-elevation-z8">
    <div class="hail_body_info">
      <div class="hail_body_info_left">
        <h3 class="hail_body_info_left_title">Demander la course</h3>
        <form [formGroup]="clientForm" class="hail_body_info_left_client">
          <h4 class="hail_body_info_left_client_title">Information Client</h4>
          <div class="hail_body_info_left_client_position flex">
            <h5 class="hail_body_info_left_client_position_title pdr-10">
              Position:
            </h5>
            <md-input-container class="input-container">
              <input
                mdInput
                type="number"
                placeholder="latitude"
                formControlName="latitude"
                [required]="latitude"
              />
              <md-hint align="start">{{ positionHint }}</md-hint>
            </md-input-container>
            <md-input-container class="input-container">
              <input
                mdInput
                type="number"
                placeholder="longitude"
                formControlName="longitude"
                [required]="longitude"
              />
              <md-hint align="start">{{ positionHint }}</md-hint>
            </md-input-container>
          </div>
          <a
            class="hail_body_info_left_client_finder"
            href="https://gps-coordinates.org/"
            target="_blank"
            >Trouver latitude/longitude</a
          >
          <div class="hail_body_info_left_client_address flex">
            <h5 class="hail_body_info_left_client_address_title pdr-10">
              Adresse:
            </h5>
            <md-input-container
              class="hail_body_info_left_client_address_input"
            >
              <input
                mdInput
                type="text"
                placeholder="Address"
                formControlName="address"
              />
            </md-input-container>
          </div>
          <div class="hail_body_info_left_client_phone flex">
            <h5 class="hail_body_info_left_client_phone_title pdr-10">
              Téléphone:
            </h5>
            <md-input-container>
              <input
                mdInput
                type="text"
                placeholder="Numéro de téléphone"
                formControlName="phone"
              />
            </md-input-container>
          </div>
        </form>

        <div class="hail_body_info_left_taxi">
          <h4 class="hail_body_info_left_taxi_title">Information du taxi</h4>
          <div class="hail_body_info_left_taxi_id flex">
            <h5 class="title">TaxiId:</h5>
            <p class="value">{{ taxi.id }}</p>
          </div>
          <div class="hail_body_info_left_taxi_license flex">
            <h5 class="title">Licence:</h5>
            <p class="value">{{ taxi.licence }}</p>
          </div>
          <div class="hail_body_info_left_taxi_vignette flex">
            <h5 class="title">Vignette:</h5>
            <p class="value">{{ taxi.vignette }}</p>
          </div>
          <div class="hail_body_info_left_taxi_operator flex">
            <h5 class="title">Opérateur:</h5>
            <p class="value">{{ taxi.operator }}</p>
          </div>
          <div class="hail_body_info_left_taxi_phone flex">
            <h5 class="title">Téléphone:</h5>
            <p class="value">{{ taxi.phone || "Non disponible" }}</p>
          </div>
        </div>

        <form [formGroup]="searchEngineForm" class="hail_body_info_left_serach_engine">
          <h4 class="hail_body_info_left_search_engine_title">Information du moteur de recherche</h4>
          <div class="hail_body_info_left_api_key flex">
            <h5 class="hail_body_info_left_api_key_title pdr-10">
              Clé d'API:
            </h5>
            <md-input-container class="hail_body_info_left_search_engine_input">
              <input
                mdInput
                type="text"
                placeholder="Clé d'api du moteur de recherche"
                formControlName="apiKey"
              />
            </md-input-container>
          </div>
        </form>
      </div>

      <div class="hail_body_info_right">
        <h3 class="hail_body_info_right_title">
          Statut de la demande
        </h3>
        <div class="hail_body_info_right_status flex">
          <h5 class="pdr-10 title hail_body_info_right_status_title">
            Statut:
          </h5>
          <p class="value hail_body_info_right_status_value">
            {{ hailStatus }}
          </p>
          <button
            md-raised-button
            class="btn-refresh"
            (click)="resfreshStatus()"
          >
            <md-icon>autorenew</md-icon>Rafraichir
          </button>
        </div>

        <div *ngIf="hail">
          <div class="hail_body_info_right_position flex">
            <h5 class="pdr-10 title">Position:</h5>
            <p class="value">latitude: {{ hail.latitude }}</p>
            <p class="value">longitude: {{ hail.longitude }}</p>
          </div>
          <div class="hail_body_info_right_change flex">
            <h5 class="pdr-10 title">Date dernier changement statut:</h5>
            <p class="value">{{ hail.dateLastStatusChange }}</p>
          </div>
          <div class="hail_body_info_right_transmission flex">
            <h5 class="pdr-10 title">Date dernière transmission position:</h5>
            <p class="value">{{ hail.dateLastTransmit }}</p>
          </div>
          <div class="hail_body_info_right_incident flex">
            <h5 class="pdr-10 title">Incident:</h5>
            <p class="value">{{ hail.incident || "Aucun incident reporté" }}</p>
          </div>
          <div class="hail_body_info_right_taxi flex">
            <h5 class="pdr-10 title">Statut du taxi:</h5>
            <p class="value">{{ taxi.status || "" }}</p>
          </div>
        </div>
      </div>
    </div>

    <div class="hail_body_actions">
      <h3>
        Action du client
      </h3>
      <div class="hail_body_actions_gr flex">
        <button
          class="client-btn"
          md-raised-button
          [disabled]="!isOrderHailEnabled || searchEngineForm.invalid"
          (click)="orderAHail()"
        >
          Demander la course
        </button>
        <button
          class="client-btn hail_body_actions_gr_confirm"
          md-raised-button
          [disabled]="!isConfirmHailEnabled"
          (click)="confirmHail('accepted_by_customer')"
        >
          Confirmer la course
        </button>
        <button
          class="client-btn"
          md-raised-button
          [disabled]="!isRefuseHailEnabled"
          (click)="declinedByCustomer('declined_by_customer')"
        >
          Refuser la course
        </button>
        <button
          class="client-btn"
          md-raised-button
          [disabled]="!isCancelHailEnabled"
          (click)="declinedByCustomer('incident_customer')"
        >
          Annuler la course
        </button>
      </div>
      <span class="hail_body_actions_error" *ngIf="errorMsg">{{
        errorMsg
      }}</span>
    </div>
    <div class="hail_body_devtool wrap-collabsible">
        <input id="collapsible" class="toggle" type="checkbox">
        <label for="collapsible" class="lbl-toggle">Action de l'opérateur</label>
        <div class="collapsible-content">
            <div class="hail_body_devtool_gr flex content-inner">
                <button class="m-12px" md-raised-button (click)="resetTaxi()">
                  reset taxi
                </button>
                <button
                  class="m-12px"
                  md-raised-button
                  (click)="setHailStatusByOperator('received_by_taxi')"
                  class="hail_body_devtool_gr_confirm"
                >
                  receivedByTaxi
                </button>
                <button
                  class="m-12px"
                  md-raised-button
                  (click)="setHailStatusByOperator('accepted_by_taxi')"
                >
                  acceptedByTaxi
                </button>
                <button
                  class="m-12px"
                  md-raised-button
                  (click)="setHailStatusByOperator('customer_on_board')"
                >
                  customerOnBoard
                </button>
                <button
                  class="m-12px"
                  md-raised-button
                  (click)="setHailStatusByOperator('finished')"
                >
                  finished
                </button>
                <button
                  class="m-12px warning"
                  md-raised-button
                  (click)="setHailStatusByOperator('declined_by_taxi')"
                >
                  declinedByTaxi
                </button>
                <button
                  class="m-12px danger"
                  md-raised-button
                  (click)="incidentTaxi('incident_taxi', 'breakdown')"
                >
                  incidentTaxi
                </button>
              </div>

        </div>
      </div>

  </section>
</div>
