.*

/node_modules
/test
/output
/dist
/temp
/test-*
/log
/html
/generators/app/templates/
/generated

Jenkinsfile
package.json
package-lock.json
yarn.lock
README.md
license

*.map
*.yaml
*.hbs
*.txt
*.js