node_modules
/.vscode
*.map
*.js
*.html
!/prettier.config.js
!src/shared/specWithFullErrorsReporter/baseWithFullErrors.js
!src/shared/specWithFullErrorsReporter/specWithFullErrors.js
!src/shared/specWithCompleteErrorsReporter/baseWithCompleteErrors.js
!src/shared/specWithCompleteErrorsReporter/specWithCompleteErrors.js
config/secret.ts
*sharedState.json
*report.json
*report.html

./controllers/
./data/*
./features/
./libs/
./models/
./services/
./test/
./tests/

node_modules
/.vscode
/log
logs

/dist
/test-*
/src/test.ts
/temp
/output
/.nyc_output
/config/local-*.*
!/config/local-tests.yaml
!/config/local-template.yaml
/config/local.yaml

*.js.map
*.js
.scannerwork
/.vs/slnx.sqlite
fsmDiagram.dot
*sharedState.json

*.mjs
!eslint.config.mjs
tsconfig.tsbuildinfo